* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #FF00FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container .card {
  width: 18%;
  background-color: #FFFF00;
  margin: 30px auto;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
}

.container .card a {
  text-decoration: none;
  color: #FFFFFF;
}

.container .card .show {
  background-color: #FF00FF;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  margin: auto;
}

